USE [master]
GO
/****** Object:  Database [CancherosDB]    Script Date: 23/10/2023 11:52:18 ******/
CREATE DATABASE [CancherosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CancherosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CancherosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CancherosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CancherosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CancherosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CancherosDB]
GO
/****** Object:  User [alumno]    Script Date: 23/10/2023 11:52:18 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin]    Script Date: 23/10/2023 11:52:18 ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin]
GO
/****** Object:  Table [dbo].[Calendario]    Script Date: 23/10/2023 11:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendario](
	[fkHorario] [int] NOT NULL,
	[Fecha] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cancha]    Script Date: 23/10/2023 11:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancha](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](4000) NOT NULL,
	[Foto] [nvarchar](4000) NULL,
	[Deporte] [nvarchar](4000) NOT NULL,
	[EnReparacion] [bit] NOT NULL,
	[CantPersonas] [int] NOT NULL,
	[TipoPiso] [nvarchar](4000) NOT NULL,
	[Precio] [int] NOT NULL,
	[fkLugar] [int] NOT NULL,
 CONSTRAINT [PK_Cancha] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 23/10/2023 11:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Horario] [time](4) NOT NULL,
	[ReservaId] [bit] NULL,
 CONSTRAINT [PK_Horarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 23/10/2023 11:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](4000) NOT NULL,
	[Ubicacion] [varchar](4000) NOT NULL,
	[Zona] [varchar](4000) NOT NULL,
	[Foto] [varchar](4000) NULL,
	[fkDueño] [int] NOT NULL,
 CONSTRAINT [PK_Lugar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 23/10/2023 11:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroReserva] [int] NOT NULL,
	[PrecioSeña] [float] NOT NULL,
	[fkUsuario] [int] NOT NULL,
	[fkCancha] [int] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 23/10/2023 11:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/10/2023 11:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](4000) NOT NULL,
	[Telefono] [varchar](4000) NULL,
	[Mail] [varchar](4000) NOT NULL,
	[Contrasenna] [varchar](4000) NOT NULL,
	[Foto] [varchar](4000) NULL,
	[fkRol] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cancha] ON 

INSERT [dbo].[Cancha] ([Id], [Nombre], [Foto], [Deporte], [EnReparacion], [CantPersonas], [TipoPiso], [Precio], [fkLugar]) VALUES (8, N'Juli', NULL, N'tenis', 1, 12, N'Cemento', 1200, 6)
INSERT [dbo].[Cancha] ([Id], [Nombre], [Foto], [Deporte], [EnReparacion], [CantPersonas], [TipoPiso], [Precio], [fkLugar]) VALUES (17, N'Lautaro', NULL, N'tenis', 1, 5, N'Pasto', 123, 2)
INSERT [dbo].[Cancha] ([Id], [Nombre], [Foto], [Deporte], [EnReparacion], [CantPersonas], [TipoPiso], [Precio], [fkLugar]) VALUES (18, N'CHUCH', NULL, N'FUTBOL', 1, 12, N'Cintetico', 12000, 2)
SET IDENTITY_INSERT [dbo].[Cancha] OFF
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([Id], [Horario], [ReservaId]) VALUES (1, CAST(N'10:00:00' AS Time), NULL)
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Lugar] ON 

INSERT [dbo].[Lugar] ([Id], [Nombre], [Ubicacion], [Zona], [Foto], [fkDueño]) VALUES (2, N'Club del pasaje', N'Del barco centenera 950', N'Caballito', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxy7X5QY4nIwfk-4IG7n5XsdDSAi1x72YN2c3L92_PcI4z08ol2hLQ1Z7aWtz_lt44AZg&usqp=CAU', 7)
INSERT [dbo].[Lugar] ([Id], [Nombre], [Ubicacion], [Zona], [Foto], [fkDueño]) VALUES (5, N'Caballito Norte', N'Av. Avellaneda 1423', N'Caballito', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQKYr0Y64WZbGu-8nUH0KfK4Ue6VMQKu4VB0eliHGLX-1b2ZWAHi0zdqFA3RorzmhzeB8&usqp=CAU', 11)
SET IDENTITY_INSERT [dbo].[Lugar] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [Rol]) VALUES (1, N'Admin')
INSERT [dbo].[Rol] ([Id], [Rol]) VALUES (2, N'Canchero')
INSERT [dbo].[Rol] ([Id], [Rol]) VALUES (3, N'Usuario')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Telefono], [Mail], [Contrasenna], [Foto], [fkRol]) VALUES (7, N'Ricardo', N'1135657556', N'ricarditox@gmail.com', N'soygay', NULL, 2)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Telefono], [Mail], [Contrasenna], [Foto], [fkRol]) VALUES (11, N'Mr.Centenera', N'2342343214', N'centenera@gmail.com', N'CHINO2020', NULL, 2)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Telefono], [Mail], [Contrasenna], [Foto], [fkRol]) VALUES (12, N'Lauty', N'11111111111', N'lautikali@gmail.com', N'123', NULL, 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Calendario]  WITH CHECK ADD  CONSTRAINT [FK_CanchasXHorario_Horarios] FOREIGN KEY([fkHorario])
REFERENCES [dbo].[Horarios] ([Id])
GO
ALTER TABLE [dbo].[Calendario] CHECK CONSTRAINT [FK_CanchasXHorario_Horarios]
GO
ALTER TABLE [dbo].[Lugar]  WITH CHECK ADD  CONSTRAINT [FK_Lugar_Usuario] FOREIGN KEY([fkDueño])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Lugar] CHECK CONSTRAINT [FK_Lugar_Usuario]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cancha] FOREIGN KEY([fkCancha])
REFERENCES [dbo].[Cancha] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cancha]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
