.tituloHome{
    color: black;
    font-weight: bold;
  }

  h5{
    color:black;
    font-size: 3rem;
  }
  h1{
    font-size: 8rem;
  }

  button.botonHome{
      display: block;
      height: auto;
      border: none;
      width: 20%;
      background-color: #0aca84;
      font-size: xx-large;
      padding: 2;
      margin-top: 2%;
      margin-left: 40%;
      cursor: pointer;
      text-align: center;
      justify-content: center;
    
  }
  button.botonHome:hover{
    color: black;
    background-color: #088d5c;
  
}

 .logoCancherosHome{
    width: 20%;
    height: auto;
    text-align: center;
    justify-content: center;
    margin-left: 40%;
  }