USE [master]
GO
/****** Object:  Database [CancherosDB]    Script Date: 15/5/2023 11:37:59 ******/
CREATE DATABASE [CancherosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CancherosBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CancherosBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CancherosBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CancherosBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CancherosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CancherosDB]
GO
/****** Object:  User [alumno]    Script Date: 15/5/2023 11:37:59 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cancha]    Script Date: 15/5/2023 11:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancha](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Foto] [varchar](4000) NOT NULL,
	[Deporte] [varchar](200) NOT NULL,
	[EnReparacion] [bit] NOT NULL,
	[CantPersonas] [int] NOT NULL,
	[TipoPiso] [varchar](200) NOT NULL,
	[Precio] [float] NOT NULL,
	[fkLugar] [int] NOT NULL,
 CONSTRAINT [PK_Cancha] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CanchasXHorario]    Script Date: 15/5/2023 11:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanchasXHorario](
	[fkCancha] [int] NOT NULL,
	[fkHorario] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 15/5/2023 11:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Horario] [time](4) NOT NULL,
 CONSTRAINT [PK_Horarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 15/5/2023 11:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugar](
	[Id] [float] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Ubicacion] [varchar](200) NOT NULL,
	[Zona] [varchar](200) NOT NULL,
	[Foto] [varchar](4000) NOT NULL,
	[fkDueño] [int] NOT NULL,
 CONSTRAINT [PK_Lugar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 15/5/2023 11:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroReserva] [int] NOT NULL,
	[PrecioSeña] [float] NOT NULL,
	[fkUsuario] [int] NOT NULL,
	[fkCancha] [int] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 15/5/2023 11:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/5/2023 11:37:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Mail] [varchar](50) NOT NULL,
	[Contrasenna] [varchar](200) NOT NULL,
	[Foto] [varchar](4000) NULL,
	[fkRol] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [Rol]) VALUES (1, N'Admin')
INSERT [dbo].[Rol] ([Id], [Rol]) VALUES (2, N'Canchero')
INSERT [dbo].[Rol] ([Id], [Rol]) VALUES (3, N'Usuario')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
ALTER TABLE [dbo].[Cancha]  WITH CHECK ADD  CONSTRAINT [FK_Cancha_Lugar] FOREIGN KEY([Precio])
REFERENCES [dbo].[Lugar] ([Id])
GO
ALTER TABLE [dbo].[Cancha] CHECK CONSTRAINT [FK_Cancha_Lugar]
GO
ALTER TABLE [dbo].[CanchasXHorario]  WITH CHECK ADD  CONSTRAINT [FK_CanchasXHorario_Cancha] FOREIGN KEY([fkCancha])
REFERENCES [dbo].[Cancha] ([Id])
GO
ALTER TABLE [dbo].[CanchasXHorario] CHECK CONSTRAINT [FK_CanchasXHorario_Cancha]
GO
ALTER TABLE [dbo].[CanchasXHorario]  WITH CHECK ADD  CONSTRAINT [FK_CanchasXHorario_Horarios] FOREIGN KEY([fkHorario])
REFERENCES [dbo].[Horarios] ([Id])
GO
ALTER TABLE [dbo].[CanchasXHorario] CHECK CONSTRAINT [FK_CanchasXHorario_Horarios]
GO
ALTER TABLE [dbo].[Lugar]  WITH CHECK ADD  CONSTRAINT [FK_Lugar_Usuario] FOREIGN KEY([fkDueño])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Lugar] CHECK CONSTRAINT [FK_Lugar_Usuario]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cancha] FOREIGN KEY([fkCancha])
REFERENCES [dbo].[Cancha] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cancha]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
