p{
    font-weight: bold;
}

.modalText{
    color: black;
}

div.modal-body{
    font-weight: bold;
    color: black;
}

label.form-label{
    font-weight: bold;
    color: black;
}

label.form-check-label{
    font-weight: bold;
    color: black;
}